
!/.github
!/.circleci
!/.*
!/node_modules/@actions
!/node_modules/@octokit
!/node_modules/argparse
!/node_modules/bindings
!/node_modules/before-after-hook
!/node_modules/chevrotain
!/node_modules/deprecation
!/node_modules/file-uri-to-path
!/node_modules/graceful-fs
!/node_modules/github-actions-parser
!/node_modules/is-plain-object
!/node_modules/js-yaml
!/node_modules/once
!/node_modules/node-fetch
!/node_modules/proper-lockfile
!/node_modules/regexp-to-ast
!/node_modules/retry
!/node_modules/signal-exit
!/node_modules/tr46
!/node_modules/tunnel
!/node_modules/universal-user-agent
!/node_modules/webidl-conversions
!/node_modules/whatwg-url
!/node_modules/wrappy
!/node_modules/yaml-ast-parser
!/node_modules/Joined.s

/_*
/build
/builder
/binding
/node_modules
/.module
/package-lock.json

-*
.module
.warchive*
*.log
*.db
*.tmp
*.build
